---
layout: blog
title: My Blog
---



<!-- This loops through the paginated posts -->
<!-- Important -->
{% for post in site.posts %}
{% if post.important %}
  <article class="is-post is-post-excerpt">
    <header>
      <!--
        Note: Titles and bylines will wrap automatically when necessary, so don't worry
        if they get too long. You can also remove the "byline" span entirely if you don't
        need a byline.
      -->
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <span class="byline">
        {% if post.byline %}
        {{ post.byline }}
        {% else %}
        Another silly post forgot to add a byline
        {% endif %}
      </span>
    </header>
    <div class="info">
      <!--
        Note: The date should be formatted exactly as it's shown below. In particular, the
        "least significant" characters of the month should be encapsulated in a <span>
        element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
        Oh, and if you don't need a date for a particular page or post you can simply delete
        the entire "date" element.
        
      -->
      <span class="date">{{ post.date }}</span> 
      <!--
        Note: You can change the number of list items in "stats" to whatever you want.
      -->
      <ul class="stats"><!-- JiaThis Button BEGIN -->
        <li><a>Share to:</a></li>
        <div class="jiathis_style_32x32">
          <li><a class="jiathis_button_renren"> </a></li>
          <li><a class="jiathis_button_tsina"> </a></li>
          <li><a class="jiathis_button_tqq"> </a></li>
          <li><a class="jiathis_button_weixin"> </a></li>
          <li><a class="jiathis_button_qzone"> </a></li>
          <li><a href="http://www.jiathis.com/share?uid=1781960" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a></li>
        </div>
        <script type="text/javascript">
          var jiathis_config = {
            data_track_clickback:true,
            url:"{{ site.url }}{{ post.url }}",
            summary:"{{ post.byline }}",
            title:"{{ post.title }}",
            pic:"{% if post.pic %}{{ site.url }}{{ post.pic }}{% endif %}",
            hideMore:false
            };
        </script>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1781960" charset="utf-8"></script>
        <!-- JiaThis Button END -->
      </ul>
    </div>
    {% if post.pic %}
    <a href="{{ site.url }}{{ post.url }}" class="image image-full"><img src="{{ site.url }}{{ post.pic }}" alt="" /></a>
    {% endif %}
    {{ post.content }}
    <br/>
  </article>
  {% endif %}
{% endfor %}

<!-- else -->
{% for post in paginator.posts %}
{% if post.important != 1 %}
  <article class="is-post is-post-excerpt">
    <header>
      <!--
        Note: Titles and bylines will wrap automatically when necessary, so don't worry
        if they get too long. You can also remove the "byline" span entirely if you don't
        need a byline.
      -->
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <span class="byline">
        {% if post.byline %}
        {{ post.byline }}
        {% else %}
        Another silly post forgot to add a byline
        {% endif %}
      </span>
    </header>
    <div class="info">
      <!--
        Note: The date should be formatted exactly as it's shown below. In particular, the
        "least significant" characters of the month should be encapsulated in a <span>
        element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
        Oh, and if you don't need a date for a particular page or post you can simply delete
        the entire "date" element.
        
      -->
      <span class="date">{{ post.date }}</span> 
      <!--
        Note: You can change the number of list items in "stats" to whatever you want.
      -->
      <ul class="stats"><!-- JiaThis Button BEGIN -->
        <li><a>Share to:</a></li>
        <div class="jiathis_style_32x32">
          <li><a class="jiathis_button_renren"> </a></li>
          <li><a class="jiathis_button_tsina"> </a></li>
          <li><a class="jiathis_button_tqq"> </a></li>
          <li><a class="jiathis_button_weixin"> </a></li>
          <li><a class="jiathis_button_qzone"> </a></li>
          <li><a href="http://www.jiathis.com/share?uid=1781960" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a></li>
        </div>
        <script type="text/javascript">
          var jiathis_config = {
            data_track_clickback:true,
            url:"{{ site.url }}{{ post.url }}",
            summary:"{{ post.byline }}",
            title:"{{ post.title }}",
            pic:"{% if post.pic %}{{ site.url }}{{ post.pic }}{% endif %}",
            hideMore:false
            };
        </script>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1781960" charset="utf-8"></script>
        <!-- JiaThis Button END -->
      </ul>
    </div>
    {% if post.pic %}
    <a href="{{ site.url }}{{ post.url }}" class="image image-full"><img src="{{ site.url }}{{ post.pic }}" alt="" /></a>
    {% endif %}
    {{ post.content }}
    <br/>
  </article>
  {% endif %}
{% endfor %}



<!-- Pagination links -->
<div class="pager">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="button previous">Previous Page</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}" class="button previous">Previous</a>
      {% endif %}
    {% endif %}
  <div class="pages">
    {% if paginator.page == 1 %}
      <a href="#" class="active">1</a>
      {% else %}
        <a href="/">1</a>
      {% endif %}
    {% for count in (2..paginator.total_pages-1) %}
      {% if count < 5 %}
        {% if count == paginator.page %}
          <a href="#" class="active">{{ conut }}</a>
          {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    <span>&hellip;</span>
    {% if paginator.page == paginator.total_pages %}
      <a href="/page{{ paginator.total_pages }}" class="active">{{ paginator.total_pages }}</a>
    {% else %}
      <a href="/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>
    {% endif %}
  </div>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="button next">Next Page</a>
  {% endif %}
</div>
